* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    background: rgb(234, 232, 221);
    scroll-behavior: smooth;
    font-family: 'Arial', sans-serif;

}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    height: 100vh;
}

.grid-item {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-item img {
    height: 400px;
    transition: transform 0.5s ease-in-out, filter 0.5s ease-in-out;
    box-shadow: 10px 10px 10px gray;
    filter: blur(4px); 
}

.img-wrapper:hover img {
    transform: scale(1.1);
    filter: none; 
}

.img-wrapper {
    position: relative;
    display: inline-block;
}

.centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    height: 100%;
    color: white;
    opacity: 1; /* Show text by default */
    transition: opacity 0.75s ease-in-out;
    font-size: 40px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    text-align: center;
    flex-direction: column;
}

.img-wrapper:hover .centered-text {
    opacity: 0; 
}


  

@media (min-width: 769px) and (max-width: 1300px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* For screens up to 768px */
@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}

/* PAGE ONE STYLES */

.food-video {
    max-width: 100vw;
    max-height: 100vh;
    padding-top: 10px;
}

.food-video {
    width: 100%; /* Ensure that video takes up 100% width of the container */
    object-fit: cover; /* Ensure that video maintains aspect ratio */
}

@media (max-width: 600px) {
    .food-video {
        height: 50vw; /* Control the height of the video on mobile */
        object-position: center; /* Center the video if it is scaled */
    }
}



/* PAGE THREE STYLES */

.flex-container {
    display: flex;
    min-height: 100vh; /* Changed from height to min-height */
    width: 100vw;
    margin-bottom: 20px; /* Added margin-bottom for spacing */
}

.left-side {
    flex: 1;
}

.right-side {
    flex: 1.5;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.left-flex-container {
    display: flex;
    flex-direction: column; /* Stack images vertically */
    align-items: center; /* Center-align the images */
    padding: 20px; /* Padding around images */
}


.gallary-image {
    width: 100%; /* Make images responsive */
    max-height: 200px; /* Limit the height of images */
    object-fit: cover; /* Maintain aspect ratio */
    padding-top: 15px;
}


.card {
    width: calc(50% - 20px); 
    box-sizing: border-box;
    background-color: white;
    padding: 30px;
    color: #333;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
    transition: all .5s ease-in-out;
    transform: scale(1);
    text-decoration: none;
}

.card:hover {
    transform: scale(1.05);
}

.card-title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #2C3E50;
}

.card-subtitle {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 15px;
    color: #7F8C8D;
}

.card-descriptipn {
    font-size: 16px;
    line-height: 1.6;
    color: #606060;
}




/* For tablet view */
@media (min-width: 601px) and (max-width: 768px) {
    .card {
        width: 100%; /* Make event containers take up 100% width on tablet view */
    }
}

/* For mobile view */
@media (max-width: 600px) {
    .flex-container {
        flex-direction: column;
    }
    .card {
        width: 100%; /* Make event containers take up 100% width on mobile view */
    }
    .card-title {
        font-size: 20px;
    }

    .card-subtitle {
        font-size: 16px;
    }

    .card-descriptipn {
        font-size: 14px;
    }
}