body, html {
    margin: 0;
    padding: 0;
    background: white;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    height: 100vh;
}

.grid-item {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-item img {
    height: 400px;
    transition: transform 0.5s ease-in-out, filter 0.5s ease-in-out;
    box-shadow: 10px 10px 10px gray;
    filter: blur(4px); 
}

.img-wrapper:hover img {
    transform: scale(1.1);
    filter: none; 
}

.img-wrapper {
    position: relative;
    display: inline-block;
}

.centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    height: 100%;
    color: white;
    opacity: 1; /* Show text by default */
    transition: opacity 0.75s ease-in-out;
    font-size: 40px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    text-align: center;
    flex-direction: column;
}

.img-wrapper:hover .centered-text {
    opacity: 0; 
}

@media (min-width: 900px) and (max-width: 1300px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 900px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}
